<div class="card-top">
  <div class="container d-flex contenedor-productos">
    <div class="item">
      <a>
        <img src="assets/img/products.png" class="product-item" alt="All Products">
        <h6>All Products</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img src="assets/img/electronics.png" class="product-item" alt="Electronics">
        <h6>Electronics</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img src="assets/img/fashion.png" class="product-item" alt="Fashion">
        <h6>Fashion</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img src="assets/img/jewllery.png" class="product-item" alt="Jewllery">
        <h6>Jewllery</h6>
      </a>
    </div>
  </div>
</div>
<hr>

<!-- SCROLLING PART -->
<div
  class="row"
  infinite-scroll
  (scrolled)="onScrollDown()"
>
  <product-item class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let product of products" [product]="product"></product-item>
</div>

<div class="row">
  <div class="grid-messages">
    <div></div>
    <shared-loading *ngIf="isLoading" class="mt-5"></shared-loading>
    <div></div>
  </div>
</div>

<div class="row">
  <div class="grid-messages">
    <div></div>
    <div class="alert alert-primary loading mt-5" role="alert" *ngIf="notFoundProducts">
      <span>No more results</span>
    </div>
    <div></div>
  </div>
</div>

<button class="button" *ngIf="showButton" (click)="resetScroll()">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
  </svg>
</button>
