<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="col-sm-3 dflex">
      <img src="assets/img/logo.png" alt="Page Logo" class="logo" width="30">
      <a class="link my-auto cursor-pointer" routerLink="/products/list">
        Explore
        <span>
          Plus
        </span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="col-sm-6 mx-auto">
        <input type="text" name="" id="" class="form-control" placeholder="Search by product name or by category" #txtName
          (click)="onSearch(txtName.value)">
      </div>

      <div class="col-sm-3">
        <button class="btn btn-primary" routerLink="/cart/cart-page">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
          </svg>
          <div style="font-size: 12px;" class="badge bg-danger">{{totalProductsInCart}}</div>
        </button>
      </div>
      <div class="clear-fix"></div>
    </div>
  </div>
</nav>